body {
}

.wrapper {
    padding: 0 20px
}

.wrapper-content {
    padding: 20px
}

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0
}

.hr-line-solid {
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid !important;
    margin-top: 15px;
    margin-bottom: 15px
}



.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 66px
}

.ibox-detail-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #F00;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0 0;
    color: #f00;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
    text-align: center;
    font-size: 15px;
}

.ibox-content {
    background-color: #fff;
    color: inherit;
    padding: 15px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    margin-top: 10px;
}

    .ibox-content.text-box {
        padding-bottom: 0;
        padding-top: 15px
    }

    .ibox-content h1,
    .ibox-content h2,
    .ibox-content h3,
    .ibox-content h4,
    .ibox-content h5,
    .ibox-title h1,
    .ibox-title h2,
    .ibox-title h3,
    .ibox-title h4,
    .ibox-title h5 {
        margin-top: 5px
    }
